:root {
    --primary: rgb(202, 0, 253);
    --bg: rgb(0, 0, 0);
  }
  
  /* teest */
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: rgb(0, 0, 0, 0.936);
    border-bottom: 1px solid rgba(160, 160, 160);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbar .navbar-logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
  }
  
  .navbar .navbar-logo span {
    color: var(--primary);
  }
  
  .navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    text-decoration: none;
}

  .navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
}
.navbar .navbar-extra a:hover {
    color: var(--primary);
  }
  
  #hamburger-menu {
    display: none;
  }
  
  section {
    margin: 8rem 7rem 5rem 7rem; 
    border : 1px solid black;
    display: flex;
    flex-direction: column; 
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.person {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.person img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
