body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.sidebar {
    z-index: 1000;
    width: 20px;
    background-color: #333;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: width .75s ease;
    top: 0;
  }
  
  .sidebar:hover{
        width: 250px;
    }

    .sidebar ul {
        list-style: none;
        padding: 15px;
        margin: 10px;
        display: none;
    }
    
    .sidebar:hover ul{
        display: block;
    }
    
    .sidebar li {
        /* padding: 10px; */
        margin: 10px;
    }
    
    .sidebar a {
      min-width: fit-content;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }

  li .artikel{
    margin-bottom: 20px;
  }


section {
    padding: 20px;
}

section h1 {
    align-items: center;
    /* border: 1px solid black; */
    height: 50px;
    width: 81%;
    font-size: 30px;
}

span{
    color: #ff0000;
    margin-right: 5px;
}
/* Add these styles to your existing styles or create a new CSS file */
.header{
    display: flex;
    height: 60px;
    width: 81%;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.waktu{
    height: 60px;
    display: flex;
    /* border: 1px solid black; */
    align-items: flex-end;
}
#liveClock{
    margin-left: 5px;
}

.container-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-items: flex-end;
  }
  
  .add-button, .edit-btn, .delete-btn {
    background-color: #ff0000;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
}

    button a{
      color: #fff;
      text-decoration: none;
    }
    button{
        color: #fff;
  }

  .add-button:hover, .edit-btn:hover, .delete-btn:hover {
    background-color: #2980b9;
  }
  
  .wrap {
    overflow-x: auto;
  }
  
  .main-content-lihat {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #000000;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternating row color */
  }
  
  tbody tr:hover {
    background-color: #e0e0e0; /* Hover row color */
  }
  
  .action {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    .add-button, .edit-btn, .delete-btn {
      font-size: 12px;
    }
  }
  
