:root {
    --primary: rgb(202, 0, 253);
    --bg: rgb(0, 0, 0);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 7%;
    background-color: rgb(0, 0, 0, 0.936);
    border-bottom: 1px solid rgba(160, 160, 160);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbar .navbar-logo {
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
  }
  
  .navbar .navbar-logo span {
    color: var(--primary);
  }
  
  .navbar .navbar-nav a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    text-decoration: none;
}

  .navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
    text-decoration: none;
}
.navbar .navbar-extra a:hover {
    color: var(--primary);
  }
  
  #hamburger-menu {
    display: none;
  }

/* Section */

section {
    margin: 4rem 7rem 5rem 7rem; 
    /* border : 1px solid black; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    min-height: 70vh;
}

.content {
    display: flex;
    width: 100%; /* Menggunakan 80% lebar layar untuk konten */
    margin-top: 20px; /* Memberikan jarak di atas konten */
}

.sidebar {
    width: 200px;
    height: 280px;
    background-color: #f1f1f1;
    padding: 20px;
    position: sticky;
    top: 8rem;
}

.sidebar form{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

.sidebar form label :last-child{
    margin-bottom: 20px ;
}

.filter{
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    background-color: red;
    color: white;
    transition: ease 0.5s;
}

.filter:hover{
    transform: scale(1.1);
}


.sidebar h3 {
    margin-bottom: 15px;
}

.content {
    flex: 1;
    padding: 10px;
}

.article-container {
    margin: 0 50px 30px 30px;
}

.article-container h1{
    margin: 0 0 10px 10px;
    border-bottom: 1px solid black;
}

.article a:hover {
    transform: scale(1.1);
}

.artikela {
    display: flex;
    transition: ease 0.5s;
    width: 600px; /* Lebar total artikel dan gambar */
    margin: 20px 0 0 10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: fit-content;
}


.article img {
    width: 100px; /* Lebar gambar */
    height: 100px;
    object-fit: cover;
    margin: 20px; 
    border-radius: 10px;
}

.article-content { /* Menggunakan flex untuk mengisi sisa ruang yang ada */
    padding: 20px;
    /* display: flex; */
    flex-direction: column; /* Menampilkan judul, tanggal, dan isi menurun */
}

.article h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.article p.date {
    color: #888;
    font-size: 0.8em;
    margin-bottom: 10px; /* Memberikan jarak antara tanggal dan isi artikel */
}

.article p {
    margin: 10px 0;
}


.sidebarr.right-sidebar {
    /* border: 1px solid black; */
    width: 40rem;
    /* background-color: rgb(116, 58, 58); */
    background-color: #f1f1f1;
    padding: 20px;
    max-height: 100vh; /* Tinggi maksimal sidebar sesuai tinggi viewport */
    overflow-y: auto;
}

.right-sidebar h3{
    border-bottom: 1px solid black;
}

.right-sidebar a {
    display: flex;
    width: 90%; /* Sesuaikan lebar artikel dengan lebar sidebar */
    margin: 20px 0; /* Memberikan jarak antara artikel pada sidebar kanan */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

.right-sidebar .article{
    display:flex;
}

.right-sidebar a{
    transition: ease 0.5s;
}

.right-sidebar a:hover{
    transform: scale(1.1);
}

.right-sidebar .article img {
    max-width: 25%; /* Sesuaikan lebar gambar dengan lebar artikel */
    height: 50px;
    object-fit: cover;
}

.right-sidebar .article-content {
    padding: 10px;
}

.right-sidebar .article h2 {
    font-size: 1em; /* Sesuaikan ukuran font judul artikel */
    margin: 5px 0; /* Sesuaikan margin judul artikel */
}

.right-sidebar .article p.date {
    color: #888;
    font-size: 0.7em; /* Sesuaikan ukuran font tanggal artikel */
    margin-bottom: 5px; /* Sesuaikan margin tanggal artikel */
}

.right-sidebar .article p {
    font-size: 0.9em; /* Sesuaikan ukuran font isi artikel */
    margin: 5px 0; /* Sesuaikan margin isi artikel */
}