<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/barang.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <title>Document</title>
</head>
<body>
    <nav class="sidebar">
        <ul>
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Tentang</a></li>
            <li><a href="#">Layanan</a></li>
            <li><a href="#">Kontak</a></li>
        </ul>
    </nav>
    <section>
        <div class="container">
            <h1>Kelola Barang</h1>
            <div class="tambah">
                <button class="add-button"><a href="tambah.php">Tambah</a></button>
            </div>
            <div class="product">
                <div class="product-image">
                    <img src="../img/BG.home.jpeg.jpg" alt="Produk 1">
                </div>
                <div class="product-details">
                    <h2>Nama Produk 1</h2>
                    <p>Harga: $100</p>
                    <p>Merk: Merk Produk 1</p>
                    <p>Deskripsi: Deskripsi Produk 1</p>
                </div>
            </div>
        
        
        </div>
        
    </section>
    <script>
        function tambah(){
            document.location.href = "tambah.php";
            
        }
        // function keluar(){
            //     document.location.href = "../index.php";
            // }
    </script>
</body>
</html>