<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/admin.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    
    <title>Document</title>
</head>
<body>
    <nav class="sidebar">
        <ul>
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Tentang</a></li>
            <li><a href="#">Layanan</a></li>
            <li><a href="#">Kontak</a></li>
        </ul>
    </nav>
    <section>
        <div class="tambah">
            <button class="add-button"><a href="tambah.php">Tambah</a></button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                                <th>Nama</th>
                                <th>Merk</th>
                                <th>Jenis</th>
                                <th>Harga</th>
                                <th>Stok</th>
                                <th>Gambar</th>
                                <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <?php $i = 1; foreach($barang as $brg): ?>
                                <tr>
                                    <td><?php echo $i; ?></td>
                                    <td><?php echo $brg["nama"]; ?></td>
                                    <td><?php echo $brg["merk"]; ?></td>
                                    <td><?php echo $brg["jenis"]; ?></td>
                                    <td><?php echo $brg["harga"]; ?></td>
                                    <td><?php echo $brg["stok"]; ?></td>
                                    <td><img src="../assets/<?php echo $brg["gambar"] ?>" alt="" width="100px"height="100px"></td>
                                    <td class="action">
                                        <button class="edit-btn"><a href="edit.php?id=<?php echo $brg['id']; ?>">Update</a></button>
                                        <button class="delete-btn"><a href="hapus.php?id=<?php echo $brg['id']; ?>">Delete</a></button>
                                    </td>
                                </tr>
                                <?php $i++; endforeach; ?>
                <!-- Tambahkan baris lain sesuai kebutuhan -->
            </tbody>
        </table>

    </section>
    <script>
        function tambah(){
            document.location.href = "tambah.php";
            
        }
        // function keluar(){
            //     document.location.href = "../index.php";
            // }
    </script>
</body>
</html>